h1 {
  color: "#BD18BF";
  font-family: : monospace;
  font-size: 2em;
  font-weight: bold;
  }
h2 {
  color: "#BD18BF";
  font-family: : monospace;
  font-weight: bold;
}
  p {
    font-family: monospace;
    }

  body {
    font-family: monospace;
  }
